[Desktop Entry]
Name=Strömling Design
Comment=Open-Source E-CAD für Elektrotechnik
Exec=stroemling_app
Icon=stroemling-design
Type=Application
Categories=Engineering;Electronics;
Keywords=Elektrotechnik;Schaltplan;E-CAD;CAD;
